In [1]:
import os
import pandas as pd
import seaborn as sns
import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy import (Column, DateTime, Integer, Numeric, Float, String, Text)

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats.mstats import gmean

In [2]:
immport_user = os.getenv("IMMPORT_USER","USER")
immport_password = os.getenv("IMMPORT_PASSWORD","PASSWORD")
immport_database = os.getenv("IMMPORT_DATABASE","DR26")
immport_host = os.getenv("IMMPORT_HOST","127.0.0.1")

In [3]:
conn1 = f"mysql+mysqlconnector://{immport_user}:{immport_password}@{immport_host}:3306/{immport_database}"
immportConn = create_engine(conn1, connect_args={'connect_timeout': 120 }, echo=False)

In [104]:
sql = f'''
SELECT va.subject_accession, va.study_accession, va.study_time_collected,  va.value_preferred, va.virus_strain_preferred
FROM vaccine_analysis va
ORDER BY va.subject_accession, va.study_accession, va.virus_strain_preferred, va.study_time_collected
'''

hai_result = pd.read_sql(sql, immportConn)
hai_result.head(10)
print(hai_result.head(10))
# print(hai_result['virus_strain_preferred'], hai_result['subject_accession'])

  subject_accession study_accession  study_time_collected  value_preferred  \
0         SUB112832          SDY269                   0.0             20.0
1         SUB112832          SDY269                  28.0             20.0
2         SUB112832          SDY269                   0.0              5.0
3         SUB112832          SDY269                  28.0              5.0
4         SUB112832          SDY269                   0.0              5.0
5         SUB112832          SDY269                  28.0              5.0
6         SUB112832           SDY61                   0.0             40.0
7         SUB112832           SDY61                  28.0            640.0
8         SUB112832           SDY61                   0.0              5.0
9         SUB112832           SDY61                  28.0            160.0

     virus_strain_preferred
0        A/Brisbane/59/2007
1        A/Brisbane/59/2007
2        A/Uruguay/716/2007
3        A/Uruguay/716/2007
4        B/Brisbane/03/2007
5        B/Brisbane/03/2007
6  A/Solomon Islands/3/2006
7  A/Solomon Islands/3/2006
8       A/Wisconsin/67/2005
9       A/Wisconsin/67/2005

In [122]:
days = set(hai_result["study_time_collected"])
days = [x for x in days]
subject_by_day = []
#make a list of studies, seperated by day 
for i in days:
    temp = hai_result[hai_result['study_time_collected'] == i].copy()
    subject_by_day.append(temp)
    
# print(subject_by_day)
# print(subject_by_day[0]['subject_accession'])

#turn everything into a pandas dataframe

df = pd.DataFrame(subject_by_day)
# print(df.head(15))

# print(df[0][3]['virus_strain_preferred'])

print(str(df[0][0]['virus_strain_preferred']))
?

if str(df[0][0]['virus_strain_preferred']) == 'A/Uruguay/716/2007':
    print('hi')

#join the tables

# merger = ['subject_accession','virus_strain_preferred']
# new = pd.merge(subject_by_day, left_on=merger, right_on=merger)

# print(new)

SyntaxError: can't assign to function call (<ipython-input-122-ca4c9011810d>, line 2)

In [93]:
strains = set(hai_result["virus_strain_preferred"])
strains = [x for x in strains]
print(strains)

subj = set(hai_result["virus_strain_preferred"])
subj = [x for x in subj]

['B/Malaysia/2506/2004', 'B/Florida/4/2006', 'A/Brisbane/59/2007', 'A/Uruguay/716/2007', 'B/Massachusetts/02/2012', 'A/Perth/16/2009', 'B/Lee/1940', 'B/Brisbane/60/2008', 'A/Victoria/361/2011', None, 'A/Texas/50/2012', 'A/South Dakota/06/2007', 'A/Brisbane/10/2007', 'A/Victoria/3/1975', 'A/Wisconsin/67/2005', 'A/California/7/2009', 'A/Solomon Islands/3/2006', 'B/Wisconsin/01/2010', 'B/Brisbane/03/2007']

In [109]:
hai_result["study_time_collected"]()

AttributeError: 'Series' object has no attribute 'unique_counts'

In [126]:
temp = hai_result[['subject_accession', 'virus_strain_preferred']].drop_duplicates()
temp.head()

  subject_accession    virus_strain_preferred
0         SUB112832        A/Brisbane/59/2007
2         SUB112832        A/Uruguay/716/2007
4         SUB112832        B/Brisbane/03/2007
6         SUB112832  A/Solomon Islands/3/2006
8         SUB112832       A/Wisconsin/67/2005

In [127]:
for i in days:
    col = str(i)
    temp[col] = 0

In [187]:
temp.head()
# print(temp.head())
# print(hai_result['subject_accession'][0])
# print(hai_result['study_time_collected'][0])
# print(temp['subject_accession'][0],temp['virus_strain_preferred'][0] )
print(hai_result['subject_accession'][0])
print(temp['subject_accession'][0] == hai_result['subject_accession'][0])
a = str( hai_result['study_time_collected'][0] )
print(temp['subject_accession'][0],temp['virus_strain_preferred'][0],temp[a][0])

SUB112832
True
SUB112832 A/Brisbane/59/2007 0