## Setup Python Environment

In [ ]:
import os
import pandas as pd
import seaborn as sns
import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy import (Column, DateTime, Integer, Numeric, Float, String, Text)

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats.mstats import gmean

## Environment Variables

In [ ]:
immport_user = os.getenv("IMMPORT_USER","USER")
immport_password = os.getenv("IMMPORT_PASSWORD","PASSWORD")
immport_database = os.getenv("IMMPORT_DATABASE","DR26")
immport_host = os.getenv("IMMPORT_HOST","127.0.0.1")

## Setup Database Connections

In [ ]:
conn1 = f"mysql+mysqlconnector://{immport_user}:{immport_password}@{immport_host}:3306/{immport_database}"
immportConn = create_engine(conn1, echo=False)

## create table with subjects who participate in multiple studies

In [ ]:
sql = f'''
DROP TABLE vaccine_analysis;
CREATE TABLE vaccine_analysis AS (
SELECT COUNT(DISTINCT aoc.study_accession), s1.subject_accession
    FROM subject s1, 
    arm_2_subject a2s,
    arm_or_cohort aoc
WHERE s1.subject_accession = a2s.subject_accession
    AND a2s.arm_accession = aoc.arm_accession

GROUP BY s1.subject_accession
HAVING COUNT(DISTINCT aoc.study_accession) > 1
)
)
'''

immportConn.execute('DROP TABLE IF EXISTS subjects_with_hai_results;');
immportConn.execute(sql);
immportConn.execute('create index idx_hai_1 on subjects_with_hai_results(study_accession)');

##find the different dates a subject goes through each trial

In [ ]:
sql = f'''
    
SELECT h1.subject_accession, h1.study_accession, h1.study_time_collected,  h1.value_preferred, h1.virus_strain_preferred
FROM vaccine_analysis,
    hai_result h1
    WHERE vaccine_analysis.subject_accession = h1.subject_accession
        
ORDER BY h1.subject_accession, study_accession
)
'''

USE DR26;
DROP TABLE tes;
CREATE TABLE tes AS (
SELECT COUNT(DISTINCT aoc.study_accession), s1.subject_accession
    FROM subject s1, 
    arm_2_subject a2s,
    arm_or_cohort aoc
WHERE s1.subject_accession = a2s.subject_accession
    AND a2s.arm_accession = aoc.arm_accession

GROUP BY s1.subject_accession
HAVING COUNT(DISTINCT aoc.study_accession) > 1
)

----
SELECT aoc.study_accession, s1.subject_accession
    FROM subject s1, 
    arm_2_subject a2s,
    arm_or_cohort aoc
WHERE s1.subject_accession = a2s.subject_accession
    AND a2s.arm_accession = aoc.arm_accession
    AND s1.subject_accession = "SUB134257"
--    
    
    
SELECT h1.* FROM tes,
    hai_result h1
    WHERE tes.sub_subj_accession = h1.subject_accession
    AND
    
ORDER BY h1.subject_accession